
.large-rectangle {
  width: 300px; /* Adjust width as needed */
  height: 270px; /* Adjust height as needed */
  background-color: #ffffff; /* White color for top */
  border: 1px solid black; /* Border around the component */
  border-radius: 10px; /* Rounded edges */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.large-button:hover {
  background-color: #f0f0f0; /* Light gray background on hover */
}

.top {
  height: 70%;
  border-top-left-radius: 10px; /* Rounded top-left corner */
  border-top-right-radius: 10px; /* Rounded top-right corner */
}

.bottom {
  height: 30%;
  background-color: #000000; /* Black color for bottom */
  padding: 8px; /* Adjust padding to fit text better */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 10px; /* Rounded bottom-left corner */
  border-bottom-right-radius: 10px; /* Rounded bottom-right corner */
}

.title {
  color: #ffffff; /* White color for title text */
  font-weight: bold;
  font-size: 18px;
}

.description {
  color: #ffffff; /* White color for description text */
  font-size: 14px;
}
