.main-interface {
  border: 1px solid #000; /* Border around the entire component */
  width: 80vw; /* Set the width to 80% of the viewport width */
  margin: 0 auto; /* Center the component horizontally */
  display: flex; /* Use flex layout */
  flex-direction: column; /* Arrange children in a column */
}

.all-boards {
  text-align: left;
}

.rectangle-container {
  flex: 1; /* Expand to fill remaining space */
  display: flex;
  flex-wrap: wrap; /* Wrap LargeRectangle components when they reach the container's width */
  justify-content: space-around; /* Distribute items evenly along the main axis */
  align-items: center; /* Center items along the cross axis */
  gap: 10px; /* Add gap between LargeRectangle components */
}
